<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="preProcessorU" class="preprocessor.PreProcessorToUpperImpl"/>

    <bean id="preProcessorL" class="preprocessor.PreProcessorToLowerImpl"/>



    <bean id="rStandardU" class="renderer.RendererStandartImpl">
        <constructor-arg name="preProcessor" ref="preProcessorU"/>
    </bean>

    <bean id="rStandardL" class="renderer.RendererStandartImpl">
        <constructor-arg name="preProcessor" ref="preProcessorL"/>
    </bean>

    <bean id="rendererErrU" class="renderer.RendererErrImpl">
        <constructor-arg name="preProcessor" ref="preProcessorU"/>
    </bean>

    <bean id="rendererErrL" class="renderer.RendererErrImpl">
        <constructor-arg name="preProcessor" ref="preProcessorL"/>
    </bean>



    <bean id="printerWithPrefix1" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererErrU"/>
    </bean>

    <bean id="printerWithPrefix2" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererErrL"/>
    </bean>

    <bean id="printerWithPrefix3" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rStandardU"/>
    </bean>

    <bean id="printerWithPrefix4" class="printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rStandardL"/>
    </bean>



    <bean id="printerWithDate1" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererErrU"/>
    </bean>

    <bean id="printerWithDate2" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererErrL"/>
    </bean>

    <bean id="printerWithDate3" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rStandardU"/>
    </bean>

    <bean id="printerWithDate4" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rStandardL"/>
    </bean>

</beans>